.generalContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bgSoft);
    height: var(--vh);
    color: var(--textSoft);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
}

.title{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
}

.title h1{
    font-size: 5rem;
}

.title p{
    font-size: 1.3rem;
}

.hero{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: 500px
}

.hero p{
    z-index: 1;
}

.heroSpan{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.heroSpan:hover{
    color: var(--hover);
}

.img{
    transform: scale(1.5);
}

.button{
    padding: 1rem;
    border-radius: 1rem;
    background: var(--btn);
    color: var(--textSoft);
    border:none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    display: block;
    cursor: pointer;
    width: 65%;
    transition: 0.3s ease-in-out;
}

.button:hover{
    background-color:var(--hover);
    color: var(--btn);
    font-weight: 800;
}