.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: var(--vh);
    background-color: var(--bgSoft);
    color: var(--textSoft);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    gap: 1rem;
}

.container p:nth-child(2){
    font-size: large;
}

.link{
    color: var(--textSoft);
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.5s;
}

.link:hover{
    color: var(--hover);
}