@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway' , sans-serif;
}

:root {
	--bg: #0c2967;
    --bgSoft: #00072a;
    --text: white;
    --textSoft: #e7e7e7;
    --btn: #026ea8;
	--line: #00a2ff;
	--hover: #00d3d3;
	--form: #088db5;
	--input: #00597c;
	--vh: calc(100vh - 14rem);
	--gradient: linear-gradient(90deg, rgb(0, 144, 248) 0%, rgb(1, 126, 229) 12%, rgba(0,212,255,1) 100%);
	--border: #00eaff
}
